html,
body,
ul,
li,
ol,
dl,
dd,
dt,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
legend,
img,
div,
section,
footer,
header {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
fieldset,
img {
  border: none;
}
img {
  display: block;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
input {
  padding-top: 0;
  padding-bottom: 0;
  font-family: "SimSun", "宋体";
}
input::-moz-focus-inner {
  border: none;
  padding: 0;
}
select,
input {
  vertical-align: middle;
}
select,
input,
textarea {
  font-size: 12px;
  margin: 0;
}
input[type="text"],
input[type="password"],
textarea {
  outline-style: none;
  -webkit-appearance: none;
}
textarea {
  resize: none;
}
input,
textarea {
  background: none;
  border: none;
}
table {
  border-collapse: collapse;
}
body {
  color: #333;
  font: 12px/1.2 "微软雅黑", "SimSun", "Arial Narrow", HELVETICA;
  background: #fff;
}
a {
  text-decoration: none;
}
em,
i {
  font-style: normal;
}
html {
  font-size: 100px;
}
body {
  background-color: #f9f9f9;
}
body {
  background-color: #fff;
}
header {
  background-color: #FA3432;
  height: 0.92rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.28rem;
  color: #fff;
  padding-left: 0.23rem;
  padding-right: 0.23rem;
}
header a {
  color: #fff;
}
header .iconfont {
  font-size: 0.3rem;
}
.data {
  color: #fff;
  height: 2.22rem;
  padding-top: 0.5rem;
  text-align: center;
  background: #ff3c01;
  background: linear-gradient(to bottom, #ff3c01, #d80607);
}
.data .data1 {
  font-size: 0.68rem;
  margin-bottom: 0.42rem;
}
.data .data2 {
  font-size: 0.3rem;
}
.support .keys {
  height: 0.79rem;
  font-size: 0.3rem;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #F1F0F0;
}
.support .keys span {
  width: 50%;
  text-align: center;
}
.support .keys span:first-child {
  border-right: 1px solid #ddd;
}
.support ul {
  width: 6.4rem;
  height: 2.03rem;
  margin: 0 auto;
  margin-top: 0.3rem;
  background: url(../img/detail_icon_bg.png) no-repeat;
  background-size: 100% 100% ;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.support ul li {
  color: #ffc166;
  font-size: 0.24rem;
  width: 50%;
  text-align: center;
  line-height: 0.55rem;
}
.support ul li .iconfont {
  display: inline-block;
  width: 0.55rem;
  height: 0.55rem;
  font-size: 0.26rem;
  border-radius: 50%;
  border: 3px solid #f5f5f5;
  margin-right: 0.04rem;
}
.proccess {
  margin-top: 0.5rem;
}
.proccess .pro-wrap {
  position: relative;
  width: 6.6rem;
  height: 0.15rem;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 8px;
}
.proccess .pro-wrap .pro-front {
  position: absolute;
  background-color: #fb0502;
  width: 0rem;
  height: 0.15rem;
  transition: width 0.5s ease-in-out;
  border-radius: 8px;
}
.proccess .pro-wrap .pro-block {
  position: absolute;
  background-color: #fb0502;
  width: 0.8rem;
  height: 0.32rem;
  line-height: 0.32rem;
  text-align: center;
  color: #fff;
  left: 0rem;
  transition: left 0.5s ease-in-out;
  top: -0.5rem;
}
.proccess .pro-wrap .pro-block:after {
  content: "";
  display: block;
  border-style: solid dashed dashed dashed;
  border-color: #fb0502 transparent transparent transparent;
  border-width: 0.12rem;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0.35rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.proccess .pro-info {
  width: 6.85rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #808080;
  font-size: 0.22rem;
}
.proccess .pro-info em {
  color: #f00;
}
.footerlink {
  position: fixed;
  bottom: 1.4rem;
  left: 0;
  right: 0;
  text-align: center;
}
.footerlink a {
  color: #808080;
  font-size: 0.22rem;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1.05rem;
  padding-left: 0.3rem;
  padding-right: 0.2rem;
  background-color: #f1f1f1;
}
footer .earnings {
  color: #f90;
  font-size: 0.32rem;
  text-decoration: underline;
}
footer .investment {
  font-size: 0.32rem;
  color: #fff;
  width: 5.17rem;
  height: 0.82rem;
  line-height: 0.82rem;
  background-color: #FA3432;
  text-align: center;
}
#mask {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0.92rem;
  bottom: 1.05rem;
  background-color: rgba(0, 0, 0, 0.5);
}
#mask .nav {
  background-color: #fff;
  height: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#mask .nav a {
  color: #f00;
  font-size: 0.28rem;
  text-align: center;
  width: 25%;
  border-right: 1px solid #ddd;
}
#mask .nav a .iconfont {
  font-size: 0.4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#mask .nav a:last-child {
  border-right: none;
}
