//详情页
@import "zcm.less";

body{
    background-color: #fff;
}
header{
    background-color: #FA3432;
    .h(92);
    
    .flex_b();
    
    .fs(28);
    color:#fff;
    a{color:#fff;}
    .pl(23);
    .pr(23);
    .iconfont{.fs(30);}
}
.data{
    color:#fff; 
    .h(222);
    .pt(50);
    .tc();
     background:#ff3c01;
     background: linear-gradient(to bottom ,#ff3c01, #d80607 );
     .data1{.fs(68);.mb(42)}
     .data2{.fs(30);}
}

.support{
    .keys{
        .h(79);
        .fs(30);
        color:#777;
        .flex_a();
        border-bottom:1px solid #F1F0F0;
        span{
            //flex:1 1 auto;
            width: 50%;
            .tc();
            &:first-child{
                border-right:1px solid #ddd;
            }
        }
    }
    ul{
        
        .w(640);
        .h(203);
        margin: 0 auto;
        .mt(30);
        background:url(../img/detail_icon_bg.png) no-repeat;
        background-size: 100% 100% ;
        display: flex;
        flex-wrap: wrap;
        //align-items: center;
        align-content: space-around;
        
        li{
            color:#ffc166;
            .fs(24);
            width: 50%;
            .tc();
            .lh(55);
            
            .iconfont{
                display: inline-block;
                .w(55);
                .h(55);
                .fs(26);
                
                border-radius: 50%;
                border: 3px solid #f5f5f5;
                .mr(4);
            
            }
        }
    }
}

.proccess{
    .mt(50);
    .pro-wrap{
        position: relative;
        .w(660);
        .h(15);
        margin: 0 auto;
        background-color: #f0f0f0;
        border-radius: 8px;
        
        .pro-front{
            position: absolute;
            background-color: #fb0502;
            .w(0);
            .h(15);
            transition: width .5s ease-in-out;
            border-radius: 8px;
        }
        .pro-block{
            position: absolute;
            background-color: #fb0502;
            .w(80);
            .h(32);
            .lh(32);
            .tc();
            color:#fff;
            .left(0);
            transition:left .5s ease-in-out;
            .top(-50);
            
            &:after{
                content: "";
                display: block;
                .triangle-b(12,#fb0502);
                .top(35);
                .hc();
            }
        }
        
    }
    .pro-info{
        .w(685);
        .bc(); //块级元素水平居中
        .mt(30);
        .flex_b();
        color:#808080;
        .fs(22);
        em{color:#f00;}
    }
   
}


.footerlink{
    position: fixed;
    .bottom(140);
    left:0;right:0;
    .tc();
    a{
        color:#808080;
        .fs(22);
    }
}
footer{
    position: fixed;
    bottom:0;
    left:0;right:0;
    .flex_b();
    .h(105);
    .pl(30);
    .pr(20);
    background-color: #f1f1f1;
    
    .earnings{
        color:#f90;
        .fs(32);
        text-decoration: underline;
    }
    .investment{
      .fs(32);
        color:#fff;
        .w(517);
        .h(82);
        .lh(82);
        background-color:#FA3432;
        .tc();
    }
    
}

#mask{
    position: absolute;
    display: none;
    left:0;right:0;
    .top(92);
    .bottom(105);
    background-color: rgba(0,0,0,.5);
    
    .nav{
        background-color: #fff;
        .h(120);
        .flex_a();
        a{
            color:#f00;
            .fs(28);
            .tc();
            width: 25%;
            .iconfont{
                 .fs(40);
                display: block;
                .bc();
            
            }
            border-right:1px solid #ddd;
            &:last-child{
             border-right:none;
            }
        }
    }
}

